.review{
    margin-top: 10px;
    margin-left: 40px;
    box-shadow:  inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.review-detail{
    text-align: justify;
    background-color: rgba(84, 198, 251, 0.101);
    padding: 20px;
}

.review-detail p {
    font-weight: 400;
    color: gray;
}